<%= form_for [:admin, @gallery], :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <br><br>
  <div class="form-group">
    <%= f.label :gallery_items, :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
      <br><br>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_galleries_path, :class => 'btn btn-mini' %>
  </div>
<% end %>
