<% if @parts.any? %>
<!--   <div class="panel">
    <%# unless params[:category_id].present? %>
      <%#= @message.html_safe %><br>
      <%#= link_to "<span class='glyphicon glyphicon-save'></span> #{t(:download_pdf)}".html_safe, parts_list_path(format: "pdf", query: params[:query]), target: :blank %>
    <%# end %>
    <b><%#= t(Part::CATEGORY[params[:category_id].to_i]) if params[:category_id].present? %></b>
  </div> -->
<!--   <div class="small alert alert-warning">
    <%#= t('parts_available') %><br>
    <b><%#= Contact.where(department_id: 2, contact_type: [1, 2, 3]).pluck(:details).join(', ') %></b>
  </div> -->
<!--   <div class="alert alert-info">
    <%#= @message.html_safe %>
  </div> -->
  <div class="table-responsive">
    <table class='table table-bordered table-striped table-hover table-condensed listing'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th><%= t(:available_at) %></th>
          <!-- <th>Brand</th> -->
          <!-- <th>Category</th> -->
          <% if current_admin_user %>
          <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @parts.each_with_index do |p, index| %>
        <tr <%= "class='success'".html_safe if (p.name == @query || p.manufacturer_id.downcase == @query.downcase) %>>
          <td>
            <%= image_tag 'no-image.png', size: '100x100' %>
          </td>
          <td class='part_details'>
            <h5><b><%= p.name %></b><%#= link_to p.name, p, class: 'part_name', remote: true %></h5>
            <ul style='padding: 0;list-style: none;'>
              <li><%= t(:original_number) %>: <%= p.manufacturer_id %></li>
              <li><%= t(:license_number) %>: <%= p.seller_id if p.seller_id.present? %></li>
            </ul>
            <p>
              <span class="price"><%= t(:price) %>:</span>
              <span id='price_<%= p.internal_id %>'><%= t('not_available') %></span>
            </p>
          </td>
          <td class='part_details'>
            <ul class='stock'>
              <% Subsidiary.all.each.each do |office| %>
                <li id='<%= office.external_id %>_<%= p.internal_id %>'>
                  <div class="warehouse">
                    <%= [office.public_send("name_#{current_language}"), office.public_send("address_#{current_language}")].join(',') %>:
                  </div>
                  <span class="total"><%= t('not_available') %></span>
                </li>
              <% end %>
            </ul>
          </td>
            <%#= link_to p.name, '#', class: 'part_name', data: {html: true, content: "
              <div class='col-md-12'>
                  <center>#{category_image(p)}</center>
                  <table class='table'>
                    <tr>
                      <td>#{t(:category)}</td>
                      <td>#{t(p.category_name)}</td>
                    </tr>
                    <tr>
                      <td>#{t(:price)}</td>
                      <td>#{p.price} lei</td>
                    </tr>
                    <tr>
                      <td>ID</td>
                      <td>#{p.manufacturer_id}<br> #{p.seller_id}</td>
                    </tr>
                  </table>
              </div>
              "}, title: "<b>#{p.name}</b>".html_safe %>
          </td>
          <!-- <td><%#= p.brand %></td> -->
          <!-- <td><%#= t(p.category_name) %></td> -->
          <% if current_admin_user %>
          <td><%= link_to 'edit', edit_admin_part_path(p), target: :blank %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <center><%= will_paginate @posts %></center>
<% else %>
  <% if @query.present? %>
    <div class="alert alert-info">
      <%= t('parts_not_found', term: @query).html_safe %>
    </div>
  <% end %>
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag parts_path, class: 'form search_form', role: 'form', method: :get do %>
      <div class="row">
        <div class="col-md-8">
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: t(:search_placeholder), data: {autocomplete_source: search_parts_path}, autofocus: true %>
        </div>
        <div class="col-md-4">
          <%= submit_tag t(:search), name: nil, class: 'btn btn-primary', disabled: @query.present? ? (@query.length >= 3 ? false : true) : true %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
