<section class="clients_section wow animated fadeInUp">
  <h2 class="section_header elegant centered"><%= t('our_suppliers') %>
    <!-- <small>all of them are satisfied</small> -->
  </h2>
  <div class="clients_list">
    <a href="/parts?utf8=✓&query=falken"><%= image_tag 'suppliers/falken.jpg', alt: 'supplier', width: '120px' %></a>
    <a href="/parts?utf8=✓&query=Linglong"><%= image_tag 'suppliers/linglong.jpg', alt: 'supplier', width: '160px' %></a>
    <a href="/parts?utf8=✓&query=sampa"><%= image_tag 'suppliers/sampa.jpg', alt: 'supplier', width: '120px' %></a>
    <a href="/parts?utf8=✓&query=reinz"><%= image_tag 'suppliers/reinz.jpg', alt: 'supplier', width: '120px' %></a>
    <a href="/parts?utf8=✓&query=mahle"><%= image_tag 'suppliers/mahle.jpg', alt: 'supplier', width: '120px' %></a>
    <!-- <a href="/parts?utf8=✓&query=beyfren"><%#= image_tag 'suppliers/beyfren.jpg', alt: 'supplier', width: '90px' %></a> -->
  </div>
</section>
