<section class="clients_section wow animated fadeInUp">
  <h2 class="section_header elegant centered"><%= t('our_suppliers') %>
    <!-- <small>all of them are satisfied</small> -->
  </h2>
  <div class="clients_list">
    <a href="#"><%= image_tag 'suppliers/emmerre.jpg', alt: 'supplier', width: '90px' %></a>
    <a href="#"><%= image_tag 'suppliers/errevi.jpg', alt: 'supplier', width: '90px' %></a>
    <a href="#"><%= image_tag 'suppliers/sampa.jpg', alt: 'supplier', width: '90px' %></a>
    <a href="#"><%= image_tag 'suppliers/reinz.jpg', alt: 'supplier', width: '90px' %></a>
    <a href="#"><%= image_tag 'suppliers/mahle.jpg', alt: 'supplier', width: '90px' %></a>
    <a href="#"><%= image_tag 'suppliers/beyfren.jpg', alt: 'supplier', width: '90px' %></a>
  </div>
</section>
