<style type="text/css" media="screen">
  .popover-title{
    background-color: #428bca;
    color: #fff;
  }
</style>
<div class="loading hidden">Loading&#8230;</div>
<div class="container">
  <section class="hgroup">
    <div class="col-md-6">
      <h1><%= t('parts.title') %></h1>
    </div>
    <%= render 'welcome/search_form' if @parts.size > 0 %>
    <div class="clearfix"></div>
  </section>
  <section>
    <div class="row">
      <div id="leftcol" class="col-sm-12 col-md-9">
        <% if eval(ENV['PARTS_PAGE']) %>
          <%= render 'search_form' %>
        <% else %>
          <h2 class="text-center"><%= t('under_construction') %></h2>
          <%= image_tag 'under_construction.jpg' %>
        <% end %>
      </div>
      <div id="sidebar" class="col-sm-12 col-md-3">
        <aside class="widget">
          <%= render 'shared/widgets/evacuator' %>
        </aside>
      </div>
    </div>
  </section>
  <%= render 'suppliers' if @settings.include_suppliers %>
</div>

<%= render 'modal' %>
