<style type="text/css" media="screen">
  .popover-title{
    background-color: #428bca;
    color: #fff;
  }
</style>
<div class="loading hidden">Loading&#8230;</div>
<div class="container">
  <section class="hgroup">
    <div class="col-md-6">
      <h1><%= t('parts.title') %></h1>
    </div>
    <%= render 'welcome/search_form' if @parts.size > 0 %>
    <div class="clearfix"></div>
  </section>
  <section>
    <div class="row">
      <div id="leftcol" class="col-sm-9 col-md-9">
        <%= render 'search_form' %>
        <!-- <h2 class="text-center"><%#= t('under_construction') %></h2> -->
        <%#= image_tag 'under_construction.jpg' %>
      </div>
      <div id="sidebar" class="col-sm-3 col-md-3">
        <aside class="widget">
          <%= image_tag 'evacuator-left.gif', class: 'img', width: '80%' %><br><br>
          <%= link_to image_tag('anvelopeiarna.png', class: 'img', width: '80%'), 'http://www.anvelopeauto.md/', target: :blank %>
          <%= image_tag 'livrare-300x300.png', class: 'img', width: '80%' %>
        </aside>
      </div>
    </div>
  </section>
  <%= render 'suppliers' if @settings.include_suppliers %>
</div>

<%= render 'modal' %>

<script type="text/javascript">
$(document).ready(function(){
  console.log($.parseJSON(gon.json.parts))

  $.each($.parseJSON(gon.json.parts), function( index, value ) {
    internal_id = value.internal_id
    $('#price_'+internal_id).text(value.price)
    $.each(value.stock, function( index, value ) {
      $('#'+index+'_'+internal_id+' span.total').text(value)
    })
  });

  $('.part_name').hover(function() {
    /* Stuff to do when the mouse enters the element */
    $(this).popover('show', {placement: 'top'});
  }, function() {
    /* Stuff to do when the mouse leaves the element */
    $(this).popover('hide');
  });
});
</script>
