<h2 class="section_header fancy centered">
  <%= t('few_parts') %>
  <small><%= t('will_find_for_you') %></small>
</h2>
<div class="portfolio_strict row">
  <% Part::CATEGORY.to_a.last(19).shuffle.first(4).each do |p| %>
  <div class="col-sm-3 col-md-3">
    <div class="portfolio_item wow animated flipInX">
      <a href="/parts?category_id=<%= p[0] %>" data-path-hover="M 180,190 0,158 0,0 180,0 z">
        <figure style="background-image:url('<%= asset_url "portfolio/#{p[1].to_s.split('.').last}.jpg" %>')">
          <svg viewBox="0 0 180 320" preserveAspectRatio="none">
            <path d="M 180,0 0,0 0,0 180,0 z"/>
          </svg>
          <figcaption>
            <!-- <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p> -->
            <div class="view_button"><%= t('search_parts') %></div>
          </figcaption>
        </figure>
      </a>
      <div class="portfolio_description">
        <h3><a href="portfolio_item.html"><%= t(p[1]) %></a></h3>
        <!-- <p>Design</p> -->
      </div>
    </div>
  </div>

  <% end %>
</div>
