<%#= render 'slider' if @settings.slider_option == false %>
<div class="container">
  <%= render 'slider' if !@settings.collapsing_header %>
  <section class="call_to_action">
<!--     <h3>focus on what’s important</h3>
    <h4>we go the distance to satisfy our customers</h4> -->
  </section>
  <section class="features_teasers_wrapper">
    <div class="row">
      <div class="feature_teaser col-sm-4 col-md-4">
        <%= image_tag 'responsive.png' %>
        <h3><%= t('features.feature_title_one') %></h3>
        <p><%= t('features.feature_one').html_safe %></p>
      </div>
      <div class="feature_teaser col-sm-4 col-md-4">
        <%= image_tag 'git.png' %>
        <h3><%= t('features.feature_title_two') %></h3>
        <p><%= t('features.feature_two').html_safe %></p>
      </div>
      <div class="feature_teaser col-sm-4 col-md-4">
        <%= image_tag 'less.png' %>
        <h3><%= t('features.feature_title_three') %></h3>
        <p><%= t('features.feature_three').html_safe %></p>
      </div>
    </div>
  </section>
  <section class="portfolio_teasers_wrapper">
  <%= render 'portofolio' %>
  </section>
  <%= render 'parts/suppliers' if @settings.include_suppliers %>
</div>
