<div class="col-md-12">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <% @pages.each do |p| %>
      <li class="<%= 'active' if "#{p.id}-#{p.link_name}" == params[:id] %>"><%= link_to p.title, service_path(p) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <% if @pages.any? %>
    <p>
      <%= raw(@page.text_1) if @page.present? %>
    </p>
    <% else %>
      <%= render 'shared/nothing_found' %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render 'shared/contacts_repair_department' %>
    <%= render 'shared/sidebar' %>
  </div>
</div>
