<div class="col-md-12">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <% @pages.each do |p| %>
      <li class="<%= 'active' if "#{p.link_name}" == @page.link_name %>"><%= link_to p.title, transport_path(p.link_name) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <% if @pages.any? %>
      <% if current_admin_user %>
        <div class="alert alert-warning fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= link_to "Vezin în admin", admin_page_path(@page), target: :blank %> |
          <%= link_to "Editează pagina".html_safe, edit_admin_page_path(@page), target: :blank %>
        </div>
      <% end %>
      <%= raw(@page.text_1) if @page.present? %>
    <% else %>
      <%= render 'shared/nothing_found' %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render 'shared/contacts_transport_department' %>
    <%= render 'shared/sidebar' %>
  </div>
</div>
