<div class="container">
  <%  if !@settings.collapsing_header %>
    <div class="full_page_photo"><div id="map"></div></div>
  <% end %>

  <% if @settings.contact_form %>
  <section class="hgroup">
    <h1><%= t('contact_form.send_us_message') %></h1>
    <!-- <h2>This is a subtitle used optionally for explaining more...</h2> -->
<!--     <ul class="breadcrumb pull-right">
      <li><a href="index.html">Home</a> </li>
      <li class="active">Contact</li>
    </ul> -->
  </section>
  <section>
    <div class="row">
      <div class="office_address col-sm-4 col-md-4">
        <div class="team_member" style='background-color: #222222;'>
          <%#= image_tag 'transager_logo.png', width: '90', height: '90', alt: 'logo' %>
          <h5>Trans Ager</h5>
          <small><%= t('logo') %></small><br><br>
          <div class="team_social">
            <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, 'https://www.facebook.com/transager', target: :blank %>
            <!-- <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> -->
            <!-- <a href="#pinterest"><i class="fa fa-linkedin"></i></a> -->
            <!-- <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> -->
          </div>
          <address>
            <strong></strong><br>
            Uzinelor 171 A<br>
            Chișinău, MD2000<br>
            <%= @settings.phone %>
          </address>
          <address>
            <a href="mailto:#"><%= @settings.email %></a>
          </address>
          <%= link_to 'Edit phone and email', edit_admin_app_setting_path(@settings), target: :blank if current_admin_user.present? %>
          <br><br><br><br><br>
        </div>
      </div>
      <div class="contact_form col-sm-8 col-md-8">
        <%= simple_form_for(@feedback, defaults: { input_html: { class: 'form-control'}, label_html: {class: 'form_label' }}, html: { id: 'contact_form', novalidate: true }) do |f| %>
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <%= f.input :department_id,
                  collection: Contact.departments.map{|c| [t("#{c[0]}").capitalize, c[1]]}, input_html: {autofocus: true}, label: t('contact_form.to_department').capitalize %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <%= f.input :name, label: t('contact_form.full_name') %>
            </div>
            <div class="col-sm-6 col-md-6">
              <%= f.input :email, as: 'email' %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <%= f.input :phone, label: t('contact_form.phone_number') %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <%= f.input :message, as: 'text', input_html: {id: 'message', rows: '8'}, label: t('contact_form.message') %>
            </div>
            <div class="col-sm-12 col-md-12"><br/>
              <%= f.submit t('contact_form.send_message'), data:{disable_with: t('sending')}, class: 'btn btn-primary',
                    id: 'submit_btn'  %>
              <span id="notice" class="alert alert-warning alert-dismissable hidden" style="margin-left:20px;"></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <%= render 'shared/contacts_transport' %>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= render 'shared/contacts_service' %>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6">
      <%= render 'shared/contacts_shop' %>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= render 'shared/contacts_accountant' %>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=<%= @locale %>"></script>

<script type="text/javascript">
jQuery(function($) {
    // Asynchronously Load the map API
    var script = document.createElement('script');
    script.src = "//maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };

    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    map.setTilt(45);

    // Multiple Markers
    var markers = [
        ['Magazin Central', 46.994187, 28.908864],
        ['Filiala Chișinău', 46.992763, 28.786159],
        ['Filiala Bălți', 47.782458, 27.889177],
        ['Filiala Comrat', 46.306992, 28.657343],
        ['Filiala Taraclia', 45.900018, 28.662761]
    ];

    // Info Window Content
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>Sediul Central<br>Magazin Piese</h3>' +
        '<p>str.Uzinelor 171 A, Chisinau<br>tel.022 47 25 25<br>mobil 078472525</p>' +        '</div>'],
        ['<div class="info_content">' +
        '<h3>Filiala Chișinău</h3>' +
        '<p>str. Șoseaua Hancesti 142, Chisinau<br>tel. 022725433<br>mobil 078809044</p>' +
        '</div>'],
        ['<h3>Filiala Bălți</h3>' +
        '<p>str. Decebal 142, Balti<br>tel. 023193050<br>mobil 079406896</p>' +
        '</div>'],
        ['<h3>Filiala Comrat</h3>' +
        '<p>str. Lenin 146, Comrat<br>tel. 029833001<br>mobil 079704070</p>' +
        '</div>'],
        ['<h3>Filiala Taraclia</h3>' +
        '<p>str. Vokzalnaya, 61, Taraclia<br>tel. 029424707<br>mobil 079408898</p>' +
        '</div>']
    ];

    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;

    // Loop through our array of markers & place each one on the map
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });

        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(7);
        google.maps.event.removeListener(boundsListener);
    });

}
</script>
<!-- <script type="text/javascript">
  // When the window has finished loading create our google map below
  google.maps.event.addDomListener(window, 'load', init);

  function init() {
    // The latitude and longitude to center the map (always required)
    // You can find it easily at http://universimmedia.pagesperso-orange.fr/geo/loc.htm
    var myLatlng = new google.maps.LatLng(46.9939143, 28.9090122); // London
    // Basic options for a simple Google Map
    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
    var mapOptions = {
    // How zoomed in you want the map to start at (always required)
    zoom: 14,
    // Disable scrollwheel zooming on the map
    scrollwheel: true,
    center: myLatlng,
    // How you would like to style the map.
    // This is where you would paste any style. For example paste a style found on Snazzy Maps.
    styles: [{'featureType':'water','stylers':[{'visibility':'on'},{'color':'#428BCA'}]},{'featureType':'landscape','stylers':[{'color':'#f2e5d4'}]},{'featureType':'road.highway','elementType':'geometry','stylers':[{'color':'#c5c6c6'}]},{'featureType':'road.arterial','elementType':'geometry','stylers':[{'color':'#e4d7c6'}]},{'featureType':'road.local','elementType':'geometry','stylers':[{'color':'#fbfaf7'}]},{'featureType':'poi.park','elementType':'geometry','stylers':[{'color':'#c5dac6'}]},{'featureType':'administrative','stylers':[{'visibility':'on'},{'lightness':33}]},{'featureType':'road'},{'featureType':'poi.park','elementType':'labels','stylers':[{'visibility':'on'},{'lightness':20}]},{},{'featureType':'road','stylers':[{'lightness':20}]}]
    };
    // Get the HTML DOM element that will contain your map
    // We are using a div with id="map" seen up in the <body>
    var mapElement = document.getElementById('map');
    // Create the Google Map using out element and options defined above
    var map = new google.maps.Map(mapElement, mapOptions);
    // Put a marker at the center of the map
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Uzinelor 171A, Chișinău, Moldova, Republic of'
    });
  }
</script>
 -->
