<div class="col-md-12">
<div class="col-md-8">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&language=<%= current_language %>"></script>
  <script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(46.9939143, 28.9090122);
    var mapOptions = {
      zoom: 15,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Uzinelor 171A, Chișinău, Moldova, Republic of'
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div id="map_canvas"></div>
  <hr>
  <div class="col-md-8 col-md-offset-2 contact_form">
  <h3><%= t('contact_form.send_us_message') %>:</h3>
  <%= simple_form_for(@feedback, defaults: { input_html: { class: 'form-control'}, label_html: {class: 'form_label' }}, html: { novalidate: true }) do |f| %>
    <div class="form-group">
      <%= f.input :department_id, collection: Contact::DEPARTMENT_ID.map{|c| [t("#{c[0]}").capitalize, c[1]]}, input_html: {autofocus: true} %>
    </div>
    <div class="form-group">
      <%= f.input :name %>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-6">
        <%= f.input :phone %>
      </div>
      <div class="form-group col-md-6 col-sm-6">
        <%= f.input :email, as: 'email' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :message, as: 'text' %>
    </div>
    <%= f.submit t('contact_form.send_message'), class: 'btn btn-primary pull-right' %>
  <% end %>
</div>

</div>

<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('contact.address') %></h3>
    </div>
    <div class="panel-body phones">
      <address>
        <strong>Trans Ager srl</strong><br>
        Uzinelor 171A, Chișinău<br>
        Moldova, Republic of<br>
        MD2000<br>
      </address>
    </div>
  </div>

  <%= render 'shared/contacts_transport_department' %>
  <%= render 'shared/contacts_repair_department' %>
  <%= render 'shared/contacts_shop' %>
  <%= render 'shared/contacts_accountant' %>
  <div class="clearfix"></div>
  <%= render 'shared/sidebar' %>
</div>
</div>
