<footer>
<!--   <section class="twitter_feed_wrapper">
    <div class="container">
      <div class="row wow animated fadeInUp">
        <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="#twitter"><i class="fa fa-twitter"></i></a></div>
        <div class="col-sm-11 col-md-11">
          <blockquote>
            <p>This Clean, Flexible, Multipurpose Bootstrap 3.1.1 HTML5 Template will soon become a Wordpress theme with great support!  <a href="#">http://unhub.com/LIot</a></p>
            — LeonArt (@leonartgr) <a href="https://twitter.com/plethorathemes/">April 4, 2014</a>
          </blockquote>
        </div>
      </div>
    </div>
  </section> -->
  <section id="footer_teasers_wrapper">
    <div class="container">
      <div class="row">
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3><%= t('about_us') %></h3>
          <p><%= t('about') %></p>
          <p><i class="fa fa-map-marker"></i> Uzinelor 171A, Chișinău, Moldova</p>
          <p><i class="fa fa-phone"></i> (+30) 265-9987</p>
          <p><i class="fa fa-print"></i> (+30) 9854-7855</p>
          <p><i class="fa fa-envelope"></i> transager@company.md</p>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3><%= t(:career) %></h3>
          <ul class="media-list">
            <% Post.last(2).each do |p| %>
            <li class="media">
              <%= link_to carrier_path(p), class: 'media-date' do %>
                <%= p.created_date %><span><%= p.created_month %></span>
              <% end %>
              <h5 class="media-heading"><%= link_to p.title, carrier_path(p) %></h5>
              <p><%= ActionView::Base.full_sanitizer.sanitize(p.content).truncate(100, omission: '...') %></p>
            </li>
            <% end %>
          </ul>
          <p><%= link_to t('all_offers'), careers_path if Post.count > 2 %></p>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3><%= t('menu.contacts') %></h3>
          <ul class="footer_ul">
            <% Contact.order('contact_type asc').where(department_id: [1, 4]).group_by(&:department_id).each do |id, contacts| %>
              <li>
                <strong><%= (t(Contact::DEPARTMENT_ID.invert[id])).titleize %></strong>
                <ul class="footer_ul">
                  <% contacts.each do |c| %>
                    <li>
                      <%= footer_li(c) %>
                      &nbsp;&nbsp;
                      <%= c.details %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <br>
            <% end %>
          </ul>
          <p>Created by <a href="http://stackoverflow.com/users/985241/rmagnum2002" target="_blank">rmagnum2002</a></p>
        </div>
      </div>
    </div>
  </section>
</footer>

<%# Contact.where(department_id: 1).order('contact_type asc').each do |c| %>
  <!-- <li><%#= c.details %></li> -->
<%# end %>
<script type="text/javascript">
  if ($('footer').length > 0) {
    docHeight = $(window).height();
    footerHeight = $('footer').height();
    footerTop = $('footer').position().top + footerHeight;

    if (footerTop < docHeight) {
      $('footer').css('margin-top', (docHeight - footerTop) + 'px');
    }
  };
</script>
