<footer>
<!--   <section class="twitter_feed_wrapper">
    <div class="container">
      <div class="row wow animated fadeInUp">
        <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="#twitter"><i class="fa fa-twitter"></i></a></div>
        <div class="col-sm-11 col-md-11">
          <blockquote>
            <p>This Clean, Flexible, Multipurpose Bootstrap 3.1.1 HTML5 Template will soon become a Wordpress theme with great support!  <a href="#">http://unhub.com/LIot</a></p>
            — LeonArt (@leonartgr) <a href="https://twitter.com/plethorathemes/">April 4, 2014</a>
          </blockquote>
        </div>
      </div>
    </div>
  </section> -->
  <section id="footer_teasers_wrapper">
    <div class="container">
      <div class="row">
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3><%= t('about_us') %></h3>
          <p><%= t('about') %></p>
          <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Uzinelor 171A, Chișinău, Moldova</p>
          <p><i class="fa fa-phone"></i>&nbsp;&nbsp;<%= @settings.phone %></p>
          <!-- <p><i class="fa fa-print"></i> (+30) 9854-7855</p> -->
          <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<%= @settings.email %></p>
          <%= link_to 'Edit phone and email', edit_admin_app_setting_path(@settings), target: :blank if current_admin_user.present? %>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3><%= t(:career) %></h3>
          <ul class="media-list">
            <% Post.last(2).each do |p| %>
            <li class="media">
              <%= link_to carrier_path(p), class: 'media-date' do %>
                <%= p.created_date %><span><%= p.created_month %></span>
              <% end %>
              <h5 class="media-heading"><%= link_to p.title, carrier_path(p) %></h5>
              <p><%= ActionView::Base.full_sanitizer.sanitize(p.content).truncate(100, omission: '...') %></p>
            </li>
            <% end %>
          </ul>
          <p><%= link_to t('all_offers'), careers_path if Post.count > 2 %></p>
        </div>
        <% if @gallery %>
        <div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
          <h3><%= t('gallery') %></h3>
          <ul>
            <% @gallery.gallery_items.each_with_index do |item, index| %>
              <li class="flickr-image no-<%= index +1 %>">
                <%= link_to image_tag(item.image.url(:thumb)), item.image.url, class: 'fancybox', rel: "gallery_footer", title: "Gallery - Trans Ager" %>
              </li>
            <% end %>
          </ul>
          <p>Created by <a href="http://stackoverflow.com/users/985241/rmagnum2002" target="_blank">rmagnum2002</a></p>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</footer>

<script type="text/javascript">
  if ($('footer').length > 0) {
    docHeight = $(window).height();
    footerHeight = $('footer').height();
    footerTop = $('footer').position().top + footerHeight;

    if (footerTop < docHeight) {
      $('footer').css('margin-top', (docHeight - footerTop) + 'px');
    }
  };
</script>
