<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Transager,transport maritim,transport autocare,service camioane,reparatii camioane,baterii auto,baterii camioane,transport international,camioane ieftine,Piese Autocamioane,MAN in Moldova,tractare camioane moldova,chisinau" />
  <meta name="description" content="Transager.md - Partenerul tău de încredere, oriunde şi oricînd în Europa" />

  <title>Transager, <%= t('seo.moto') %>  - <%= @page_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <%= render 'layouts/navbar' %>
    </div>
  </header><!-- /header -->
  <% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
      <div class="alert alert-<%= flash_class(level) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <center><%= sanitize(flash[level]) %></center>
      </div>
    <% end %>
  <% end %>
  <div class="main">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <%= render 'layouts/zopim' %>
</body>
</html>
