<!DOCTYPE html>
<html>
<head>
  <title>Transager, <%= t('seo.moto') %>  - <%= @page_name %></title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="<%= keywords %>" />
  <meta name="description" content="<%= @settings.description %>" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="dLYssx-prIlmakh-pSV8vIO6pyXnbmDSkYBYY5S89Hk" />

  <meta property="og:title" content="Transager, <%= t('seo.moto') %>  - <%= @page_name %>"/>
  <meta property="og:image" content="<%= asset_url 'transager_logo.png' %>"/>
  <meta property="og:url" content="http://transager.md"/>
  <meta property="og:description" content="<%= @settings.description %>"/>
  <meta property="og:title" content="Transager, <%= t('seo.moto') %>  - <%= @page_name %>" />
  <meta property="og:image" content="<%= asset_url 'transager_logo.png' %>" />
  <meta property="og:description" content="<%= @settings.description %>" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= collapse_slider %>" data-spy="scroll" data-target=".bs-docs-sidebar">
  <header>
    <%= render 'layouts/admin_menu' if current_admin_user %>
    <div class="container">
      <%= render 'layouts/navbar' %>
    </div>
  </header><!-- /header -->
  <%= render 'welcome/page_header' %>

  <div class="main">
    <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="alert alert-<%= flash_class(level) %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <center><%= sanitize(flash[level]) %></center>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <%= render 'layouts/zopim' if @settings.chat_enabled? %>
</body>
</html>
