<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Transager,transport maritim,transport autocare,service camioane,reparatii camioane,baterii auto,baterii camioane,transport international,camioane ieftine,Piese Autocamioane,MAN in Moldova,tractare camioan moldova,chisinau" />
  <meta name="description" content="Transager.md - Partenerul tău de încredere, oriunde şi oricînd în Europa" />

  <title>Transager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="header_title">
      <ul class='lang pull-right'>
        <li class="dropdown">
          <a id="drop5" role="button" data-toggle="dropdown" href="#"><%= current_language.upcase %><span class="caret"></span></a>
          <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
            <% LOCALES.keys.each do |k| %>
              <li class=<%= "active" if @locale == k %> role="presentation">
                <%= link_to k.upcase, set_locale_path(:lang => k,:back => request.fullpath), role: 'menuitem' %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <%= render 'layouts/logo' %>
    </div>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <div class="col-md-12 footer">
      <div class="col-md-3">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Transportation', root_path %></li>
          <li><%= link_to 'Service', root_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Transportation', root_path %></li>
          <li><%= link_to 'Service', root_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Transportation', root_path %></li>
          <li><%= link_to 'Service', root_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Departamentul Transport</strong><br>
          <% Contact.where(department_id: 1).order('contact_type asc').each do |c| %>
            <%= c.details %><br>
          <% end %>
        </address>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</body>
</html>
