<!DOCTYPE html>
<html>
<head>
  <title>Transager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="page-header header_title">
      <ul class='lang pull-right'>
        <li class="dropdown">
          <a id="drop5" role="button" data-toggle="dropdown" href="#">Language <span class="caret"></span></a>
          <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">RO</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ENG</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">RUS</a></li>
          </ul>
        </li>
      </ul>
      <div class="hidden-xs">
        <h1 class="logo">TRANS AGER <br><small>transportation and service</small></h1>
        <%= image_tag 'logo.png' %>
      </div>
      <h1 class="visible-xs">TRANS AGER <br><small>transportation and service</small></h1>
    </div>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <div class="col-md-12 footer">
      <div class="col-md-3">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Transportation', root_path %></li>
          <li><%= link_to 'Service', root_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Transportation', root_path %></li>
          <li><%= link_to 'Service', root_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Transportation', root_path %></li>
          <li><%= link_to 'Service', root_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Transportation', root_path %></li>
          <li><%= link_to 'Service', root_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</body>
</html>
